@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  color: red;
}
h3 {
  color: red;
}

body {
  display: flex;
  min-height: 100vh;
}
footer {
  background: linear-gradient(90deg, #1f2224, #2d3940);

  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px;
  max-width: 100%;
  padding: 0;
}

footer .container .aboutus {
  text-align: justify;
}

footer .container h2 {
  width: auto;
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: yellow;
}
footer p {
  color: white;
  margin-right: 10%;
}
.sci {
  margin-top: 20px;
  display: flex;
  padding: 0;
}
.sci li {
  list-style: none;
}
footer .container .ul {
  list-style-type: none;

  padding: 0;
}
.sci li a {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci .you a:hover {
  background: #c4302b;
}
.sci .face a:hover {
  background: #4267b2;
}
.sci .insta a:hover {
  background: linear-gradient(90deg, #c32aa3, #ffdc7d);
}
.sci .twitch a:hover {
  background: #6441a5;
}
.sci li a .fa {
  color: #fff;
  font-size: 40px;
}
.quickLinks {
  padding-left: 100px;
  position: relative;
}
footer .container .sec.contact .info {
  padding: 0 !important;
}
footer .container .quickLinks .qlinfo {
  padding: 0 !important;
}
footer .container .map .qlmap {
  padding: 0 !important;
}
.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
.quickLinks ul li a:hover {
  color: #fff;
}
.vid1 {
  margin-top: 60px;
}
.vid {
  margin-top: 10px;
}

.contact {
  width: auto;
  margin-right: 0 !important;
  padding-left: 50px;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-top: 15px;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}
.contact .info li span {
  color: white;
}
.contact .info li a {
  color: black;
  text-decoration: none;
}
.contact .info li a:hover {
  color: white;
}
@media (min-width: 11px) and (max-width: 991px) {
  body {
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
  }

  body .quickLinks {
    position: relative;
    /*left: -40px;*/
  }
  body .map {
    position: relative;
    /*left: -40px;*/
  }
  body .quickLinks {
    padding-left: 0 !important;
  }
  body .contact {
    position: relative;
    padding-left: 0 !important;
  }
  footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 50px 100px;
  }
  footer .container {
    align-items: center;
    flex-direction: column;
    /*margin-left: 50% !important;*/
  }
  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container .sec.aboutus,
  .quickLinks,
  .sec.contact {
    width: 100%;
  }
}

.copy p {
  width: 100%;
  background: linear-gradient(90deg, #1f2224, #2d3940);
  color: white;

  font-size: 12px;
}
