@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  color: red;
  background-color: rgb(24, 24, 24) !important;
  /* background: linear-gradient(90deg, #1f2224, #2d3940);*/
}
.menu {
  position: relative;
  left: 0;
  right: 0;
  top: 50vh !important;
  vertical-align: middle !important;
}
.asd {
  position: absolute !important;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-weight: 900;
  font-size: 4rem;
  color: rgb(24, 24, 24);
  -webkit-text-stroke-width: 0.2rem;
  
}
span {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}
button {
  font-size: 5rem;
  display: inline-block;
  animation: move 5s ease-in-out infinite;
  background-color: rgb(24, 24, 24);
  text-shadow: 0 25px 50px rgb(255, 255, 255);
  border: none;
  color: white;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgb(255, 255, 255);
  }
  100% {
    transform: translate(30%, 0);
  }
}
span:nth-child(2) {
  animation-delay: 0.5s;
}
span:nth-child(3) {
  animation-delay: 1s;
}
span:nth-child(4) {
  animation-delay: 1.5s;
}
span:nth-child(5) {
  animation-delay: 2s;
}
span:nth-child(6) {
  animation-delay: 2.5s;
}
span:nth-child(7) {
  animation-delay: 3s;
}
span:nth-child(8) {
  animation-delay: 3.5s;
}
span:nth-child(9) {
  animation-delay: 4s;
}
span:nth-child(10) {
  animation-delay: 4.5s;
}
span:nth-child(11) {
  animation-delay: 5s;
}
span:nth-child(12) {
  animation-delay: 5.5s;
}
span:nth-child(13) {
  animation-delay: 6s;
}
span:nth-child(14) {
  animation-delay: 6.5s;
}
span:nth-child(15) {
  animation-delay: 7s;
}
span:nth-child(16) {
  animation-delay: 7.5s;
}
span:nth-child(17) {
  animation-delay: 8s;
}
span:nth-child(18) {
  animation-delay: 8.5s;
}
span:nth-child(19) {
  animation-delay: 9s;
}
span:nth-child(20) {
  animation-delay: 9.5s;
}
span:nth-child(21) {
  animation-delay: 10s;
}
span:nth-child(22) {
  animation-delay: 10.5s;
}
button {
  animation-delay: 1s;
}
.sci {
}
.sci li {
  list-style: none;
  display: inline-block;
}
.sci li a {
  width: 70px;
  height: 70px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
}
.sci .you a:hover {
  background: #c4302b;
}
.sci .face a:hover {
  background: #4267b2;
}
.sci .insta a:hover {
  background: linear-gradient(90deg, #c32aa3, #ffdc7d);
}
.sci .twitch a:hover {
  background: #6441a5;
}
.sci li a .fa {
  color: #fff;
  font-size: 40px;
}
@media (min-width: 11px) and (max-width: 576px) {
  .sci li a {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .asd {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .asd span {
    font-size: 3rem;
  }
}

