@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  /*justify-content: flex-end;*/
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(90deg, #1f2224, #2d3940);
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 500;
}

footer {
  display: flex;
  background: transparent;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px;
  max-width: 100%;
  padding: 0;
}

footer .container .aboutus {
  text-align: justify;
}

footer .container h2 {
  width: auto;
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: yellow;
}

footer p {
  color: white;
  margin-right: 10%;
}

.sci {
  display: flex;
  padding: 0;
  justify-content: center;
  display: none;
}

.sci li {
  list-style: none;
  align-items: center;
}

footer .container .ul {
  list-style-type: none;

  padding: 0;
}

.sci li a {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci .you a:hover {
  background: #c4302b;
}

.sci .face a:hover {
  background: #4267b2;
}

.sci .insta a:hover {
  background: linear-gradient(90deg, #c32aa3, #ffdc7d);
}

.sci .twitch a:hover {
  background: #6441a5;
}

.sci li a .fa {
  color: #fff;
  font-size: 40px;
}

.sci {
  display: flex;
  padding: 0;
}

.sci li {
  list-style: none;
  align-items: center;
}

.sci li a {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci .you a:hover {
  background: #c4302b;
}

.sci .face a:hover {
  background: #4267b2;
}

.sci .insta a:hover {
  background: linear-gradient(90deg, #c32aa3, #ffdc7d);
}

.sci .twitch a:hover {
  background: #6441a5;
}

.sci li a .fa {
  color: #fff;
  font-size: 40px;
}

.quickLinks {
  padding-left: 100px;
  position: relative;
}

footer .container .sec.contact .info {
  padding: 0 !important;
}

footer .container .quickLinks .qlinfo {
  padding: 0 !important;
}

footer .container .map .qlmap {
  padding: 0 !important;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.vid1 {
  margin-top: 60px;
}

.vid {
  margin-top: 10px;
}

.contact {
  width: auto;
  margin-right: 0 !important;
  padding-left: 50px;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-top: 10px;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}

.contact .info li span {
  color: white;
}

.contact .info li a {
  color: black;
  text-decoration: none;
}

.contact .info li a:hover {
  color: white;
}

@media (min-width: 11px) and (max-width: 991px) {
  body {
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
  }

  body .quickLinks {
    padding-left: 0 !important;
  }

  body .contact {
    position: relative;
    padding-left: 0 !important;
  }

  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container .sec.aboutus,
  .quickLinks,
  .sec.contact {
    width: 100%;
  }

  .sci {
    display: unset;
    display: flex;
  }

  .sci1 {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  body {
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
  }

  footer .container .sec.aboutus,
  .quickLinks,
  .sec.contact {
    width: 100%;
  }

  .sci {
    display: unset;
    display: flex;
  }

  .sci1 {
    display: none;
  }

  .quickLinks {
    padding-left: 12px;
    position: relative;
  }

  .contact {
    padding-left: 35px;
  }
}

@media (min-width: 1200px) {
  .sci1 li a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }

  .sci1 li a .fa {
    color: #fff;
    font-size: 34px;
  }

  .quickLinks {
    padding-left: 50px;
    position: relative;
  }
}

@media (min-width: 1400px) {

  footer .container .sec.aboutus,
  .quickLinks,
  .sec.contact {
    width: 100%;
  }

  .sci1 li a {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
  }

  .sci1 li a .fa {
    color: #fff;
    font-size: 40px;
  }

  .quickLinks {
    padding-left: 100px;
    position: relative;
  }
}

.copy p {
  width: 100%;
  background: linear-gradient(90deg, #1f2224, #2d3940);
  color: white;

  font-size: 12px;
}

/*-----------menu bar----------------------*/

.nav-main {
  position: fixed;
  top: 0;
  --bs-gutter-x: 0rem;
  left: 0;
  width: 100%;
  height: 60px !important;
  background: linear-gradient(90deg, #1f2224, #2d3940);
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  font-weight: bold;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: white;
  padding: 15px 15px;
  cursor: pointer;
}

.btn-toggle-nav:hover {
  background-color: black;
  color: white;
}

.nav-main li {
  list-style: none;
  line-height: 60px;
}

.nav-main li a {
  display: block;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-main li a:hover {
  color: black;
  background-color: white;
  border-radius: 0 30px;
  transition: all 1s ease-in-out;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 0px;
  padding: 10px 0px;
  height: calc(100vh - 60px);
  background: linear-gradient(360deg, #1f2224, #2d3940);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
  padding-top: 15px;
  padding: 0px;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span,
.nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.nav-sidebar ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 0 30px;
}

/*---------------------------sroll bar------------------------------------------*/

@media (max-width: 544px) {
  .nav-main {
    display: flex !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #1f2224, #2d3940);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/*-----------------------dark mode--------------------------------*/
input[type="checkbox"] {
  margin: 10px;
  position: relative;
  width: 60px;
  height: 20px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input:checked[type="checkbox"] {
  background: white;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 20px;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 30px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
}

input:checked[type="checkbox"]:after {
  left: 50px;
}

.nav-main .lightm {
  position: absolute;
  right: 0;
  top: 9px;
}

.nav-sidebar .lightm .ld {
  color: white;
  bottom: 0px;
  font-size: 12px;
  letter-spacing: 4px;
  font-family: sans-serif;
}

/*------------------------------Movies------------------------------------------------*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 2rem;
  position: relative;
}

.movie img {
  max-width: 100%;
}

header {
  margin-top: 3.7rem;
  background-color: transparent;
  padding: 1.5rem;
  justify-content: flex-end !important;
  display: flex;
}

.search {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-family: inherit;
  font-size: 1rem;
}

.search::placeholder {
  color: white;
}

.search:focus {
  outline: none;
  background-color: transparent;
}

.movie-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
  letter-spacing: 1px;
  padding: 1rem 1rem 1rem;
  bottom: 100rem;
}

.movie-info h3 {
  font-size: 16px;
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: white;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100%;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 0.6s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.overview h3 {
  margin-top: 0;
}

/*------------------------------------------------loader------------------------------*/

.payment{
  border: 5px solid white;
  text-align: center;

}

.payment .text{
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}

.img-fluid{
max-height: 400px;
margin: 2rem auto;
justify-content: center;
position: center;
}
.gallery-links{
  text-align: center;
}