@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  color: red;
  position: relative;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(90deg, #1f2224, #2d3940);
}
.nav-main {
  position: fixed;
  top: 0;
  --bs-gutter-x: 0rem;
  left: 0;
  width: 100%;
  height: 60px !important;
  background: linear-gradient(90deg, #1f2224, #2d3940);
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}
.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: white;
  padding: 15px 15px;
  /*background-position: center;*/
  cursor: pointer;
}
.btn-toggle-nav:hover {
  background-color: black;
  color: white;
}

.nav-main li {
  list-style: none;
  line-height: 60px;
}

.nav-main li a {
  display: block;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-main li a:hover {
  color: black;
  background-color: white;
  border-radius: 0 30px;
  transition: all 1s ease-in-out;
}
.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 0px;
  padding: 10px 0px;
  height: calc(100vh - 60px);
  background: linear-gradient(360deg, #1f2224, #2d3940);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.nav-sidebar ul {
  padding-top: 15px;
  padding: 0px;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}
.nav-sidebar ul li span,
.nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.nav-sidebar ul li a:hover {
  background-color: white;
  color: black;
}

/*-----------------------------------------------------------------------------------*/

.regist {
  position: absolute;
  text-align: center;
  border: 5px solid white;
  color: white;

  right: auto;
}
.regist span {
  font-size: 40px;
  font-family: "Cookie";
}
.Summit button {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  padding: 5px !important;
  background-color: black !important;
  border-color: black !important;
}
/*-------------------------------------------------------------------Dark mode ----------------------------------------*/
input[type="checkbox"] {
  margin: 10px;
  position: relative;
  width: 60px;
  height: 20px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input:checked[type="checkbox"] {
  background: white;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 20px;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 30px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
}

input:checked[type="checkbox"]:after {
  left: 50px;
}
.nav-main .lightm {
  position: absolute;
  right: 0;
  top: 9px;
}

.nav-sidebar .lightm .ld {
  color: white;
  bottom: 0px;
  font-size: 12px;
  letter-spacing: 4px;
  font-family: sans-serif;
}
